[Desktop Entry]
Version=1.0
Type=Link
Name=Claude
Comment=
Icon=claude
URL=https://claude.ai/new
X-XFCE-Source=file:///home/ilnanny/Scrivania/Claude.desktop
