[Desktop Entry]
Version=1.0
Name[it]=Terminale di Xfce
Name=Xfce Terminal
Comment[it]=Emulatore di terminale
Comment=Terminal Emulator
GenericName[it]=Emulatore di terminale
GenericName=Terminal Emulator
Keywords[it]=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Exec=xfce4-terminal
Icon=org.xfce.terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
Actions=preferences;
X-Desktop-File-Install-Version=0.28
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal.desktop

[Desktop Action preferences]
Name[it]=Preferenze di Terminale
Name=Terminal Preferences
Exec=xfce4-terminal --preferences
