[Desktop Entry]
Version=1.0
Type=Link
Name=Google Gemini
Comment=
Icon=/media/ilnanny/dati-linux/dotfiles/graphics/icons/in_lavorazione/google-gemini.svg
URL=https://gemini.google.com/app
