[Desktop Entry]
Version=1.0
Type=Link
Name=Google Gemini
Comment=
Icon=/home/ilnanny/Immagini/gemini.svg
URL=https://gemini.google.com/app
X-XFCE-Source=file:///home/ilnanny/Google%20Gemini.desktop
