[Desktop Entry]
Version=1.0
Type=Application
Exec=exo exo-open --launch WebBrowser https://claude.ai/new
Icon=claude
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
Keywords[it]=internet;web;browser;surf;explore;xfce;
Keywords=internet;web;browser;surf;explore;xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name[it]=Claude
Name=Web Browser
Comment[it]=
Comment=Browse the web
X-XFCE-Source=file:///usr/share/applications/xfce4-web-browser.desktop
Path=
