[Desktop Entry]
Version=1.0
Name[it]=Istantanea
Name=Screenshot
Comment[it]=Scatta un'istantanea dell'intero schermo, di una sua porzione o della finestra attiva
Comment=Take screenshots of the entire screen, of the active window or of a region
Icon=org.xfce.screenshooter
Exec=xfce4-screenshooter
Type=Application
StartupNotify=true
Terminal=false
Categories=GTK;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-screenshooter.desktop
