
## Abilita i numeri di riga
set linenumbers

## Abilita il supporto al mouse (per scorrere e posizionare il cursore)
set mouse

## Usa spazi invece di tabulazioni (meglio per il codice)
set tabstospaces
set tabsize 4

## Evidenziazione sintassi (carica tutti i moduli disponibili)
include "/usr/share/nano/*.nanorc"

## Colori per l'interfaccia
set titlecolor white,blue
set statuscolor white,green
set selectedcolor white,red
